<!--- 
INTEGRANTES: NATALIA SEPÚLVEDA - NELSON VÁSQUEZ
INGENIERÍA CIVIL EN INFORMÁTICA UBB 2020
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nueva Vacuna</title>
            <!-- #JS -->
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script>  -->

    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
            <!-- #CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

   {% include "menu.html" ignore missing %}

</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <form action="{{ url_for('nuevavacuna') }}" method = "POST">
      <div class="container-fluid"> <!-- 1-->
    
           <div  class="col-sm-12 my-auto"  style="width: 60%; margin:0 auto;"> <!-- 2-->
                    <div class="card"> <!-- 3-->
                        <div class="card-header">
                            Nueva Vacuna
                        </div>
                    <fieldset>
                        <div class="card-body">
                            
                            <!-- DATOS PACIENTE-->

                              
                          
                            
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <label for="colours">Nombre Enfermedad</label>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" placeholder="" id="NOMBRE_ENFERMEDAD" name="NOMBRE_ENFERMEDAD" maxlength="30" required>
                                </div>
                            </div>
         

                            <button class="btn btn-primary" style=" margin:0 auto;" type="submit">Guardar</button>
                        </div>
                        
                    </fieldset>
                
          </div> <!-- 3-->

            
                
     </div> <!-- 2-->
    </div> <!-- 1-->

    </form>
</body>

</html>