<!--- 
INTEGRANTES: NATALIA SEPÚLVEDA - NELSON VÁSQUEZ
INGENIERÍA CIVIL EN INFORMÁTICA UBB 2020
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Vacunas de paciente</h2>
  <br>
  <table class="table table-hover" id="myTable">
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Fecha Vacuna</th>
      
      </tr>
    </thead>
    <tbody>
      {% for recibe in reciben %}
        <tr>
          <td>{{ recibe['NOMBRE_V'] }}</td>
          <td>{{ recibe['FECHA_V'] }}</td>
          
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
  });
</script>
</html>
