<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VACUNAS</title>
            <!-- #JS -->
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script>  -->

    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
            <!-- #CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

   {% include "menu.html" ignore missing %}

</head>
<body>
  <form action="{{url_for('vacunas')}}" method="POST">
      <div class="container-fluid"> <!-- 1-->
      <fieldset>
           <div  class="col-sm-12 my-auto"  style="width: 60%; margin:0 auto;"> <!-- 2-->
                    <div class="card"> <!-- 3-->
                        <div class="card-header">
                            Listado Vacunas
                        </div>
                        <div class="card-body">
                            <table class="blueTable">
                                <thead>
                                  <tr>
                                    <th>Enfermedad</th>
                                    <th>Fecha Registro</th>
                    
                                    <th>Pacientes</th>
                                  </tr>
                                </thead>

                                <tfoot>
                                  <tr>
                                    <td colspan="4">
                                      <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
                                    </td>
                                  </tr>
                                  </tfoot>
                                <tbody>
                                
                                  {% for vacuna in vacunas %}  
                                  <tr>     
                                    <td >{{vacuna['NOMBRE_ENFERMEDAD']}}</td>
                                    <td>{{ vacuna['FECHA_CREACION']}}</td>
                                    
                                    <td>
                                       <div class="btn-group" role="group" aria-label="Basic example">   
                              
                                          <button class="btn btn-primary" id="NOMBRE_ENFERMEDAD" NAME="NOMBRE_ENFERMEDAD" value="{{vacuna['NOMBRE_ENFERMEDAD']}}" type="submit">Ver</button>      
                                       </div>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                                </table>           
                        </div>
                        
                  
          </div> <!-- 3-->

            
                
     </div> <!-- 2-->
    </div> <!-- 1-->
    </fieldset>
</form>
</body>

</html>